﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size:10px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


a:link, div {
    font-size: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#urls {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:10px;
    border-collapse: collapse;
    width: 100%;
}

    #urls td, #urls th {
        border: 1px solid #ddd;
        padding: 10px;
    }

    #urls tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #urls tr:hover {
        background-color: #ddd;
    }

    #urls th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #4CAF50;
        color: white;
        text-align: center;
    }

    #urls a {
        font-size: 10px;
    }

    #urls div {
        font-size: 10px;
    }
