﻿@model MvcUrlControl.Models.Url

@{
    ViewBag.Title = "AddOrEdit";
}

<h2>Crear/Modificar</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" >
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               

        <div class="form-group">
            @Html.LabelFor(model => model.strPaisId, htmlAttributes: new { @class = "control-label col-md-2", @id="urls" } )         
            <div class="col-md-10">
                @Html.EditorFor(model => model.strPaisId, new { htmlAttributes = new { @class = "form-control col-md-8", @id = "urls" } })
                @Html.ValidationMessageFor(model => model.strPaisId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.strTimeOutWSDistribucion, htmlAttributes: new { @class = "control-label col-md-2", @id = "urls" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strTimeOutWSDistribucion, new { htmlAttributes = new { @class = "form-control col-md-8", @id = "urls" } })
                @Html.ValidationMessageFor(model => model.strTimeOutWSDistribucion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.strTimeOutWSFuerzaVenta, htmlAttributes: new { @class = "control-label col-md-2", @id = "urls" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strTimeOutWSFuerzaVenta, new { htmlAttributes = new { @class = "form-control col-md-8", @id = "urls" } })
                @Html.ValidationMessageFor(model => model.strTimeOutWSFuerzaVenta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.strTimeOutWSRecoleccion, htmlAttributes: new { @class = "control-label col-md-2", @id = "urls" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strTimeOutWSRecoleccion, new { htmlAttributes = new { @class = "form-control col-md-8", @id = "urls" } })
                @Html.ValidationMessageFor(model => model.strTimeOutWSRecoleccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.strUrlWSDistribucion, htmlAttributes: new { @class = "control-label col-md-2", @id = "urls" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strUrlWSDistribucion, new { htmlAttributes = new { @class = "form-control  col-md-8", @id = "urls" } })
                @Html.ValidationMessageFor(model => model.strUrlWSDistribucion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.strUrlWSFuerzaVenta, htmlAttributes: new { @class = "control-label col-md-2", @id = "urls" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strUrlWSFuerzaVenta, new { htmlAttributes = new { @class = "form-control  col-md-8", @id = "urls" } })
                @Html.ValidationMessageFor(model => model.strUrlWSFuerzaVenta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.strUrlWSRecoleccion, htmlAttributes: new { @class = "control-label col-md-2", @id = "urls" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strUrlWSRecoleccion, new { htmlAttributes = new { @class = "form-control  col-md-8", @id = "urls" } })
                @Html.ValidationMessageFor(model => model.strUrlWSRecoleccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.strVersionApp, htmlAttributes: new { @class = "control-label col-md-2", @id = "urls" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strVersionApp, new { htmlAttributes = new { @class = "form-control  col-md-8", @id = "urls" } })
                @Html.ValidationMessageFor(model => model.strVersionApp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.strId, htmlAttributes: new { @class = "control-label col-md-2", @id = "urls" })
            <div class="col-md-10" >
                @Html.EditorFor(model => model.strId, new { htmlAttributes = new { @class = "form-control  col-md-8", @id = "urls" } })
                @Html.ValidationMessageFor(model => model.strId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 ">               
                <input type="submit" value="Guardar" class="btn btn-success col-md-1" id="urls"  />                
            </div>
        </div>

        

    </div>

    

}

<div>
    <a href="@Url.Action("Index","Url")" class="btn btn-success"><i class="fa fa-arrow-circle-left"></i> Regresar</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")    

}
