﻿@model IEnumerable<MvcUrlControl.Models.Url>

@{
    ViewBag.Title = "Index";
}
<h2>Control de Urls para GreenMobile</h2>
<p>
    <a href="@Url.Action("AddOrEdit","Url")" class="btn btn-success" ><i class="fa fa-plus-circle"></i> Nuevo</a>
</p>
<table id="urls">
    <thead class="table-heading">
        <tr>
            <th style="display: none;">
                ID
            </th>
            <th>
                PaisId
            </th>
            <th>
                TimeOutWSDist.
            </th>
            <th>
                TimeOutWSFzaVenta
            </th>
            <th>
                TimeOutWSRecoleccion
            </th>
            <th>
                UrlWSDistribucion
            </th>
            <th>
                UrlWSFuerzaVenta
            </th>
            <th>
                UrlWSRecoleccion
            </th>
            <th>
                VersionApp
            </th>
            <th>
                Acciónes
            </th>

            
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td style="display: none;">
            @Html.DisplayFor(modelItem => item.strId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strPaisId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strTimeOutWSDistribucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strTimeOutWSFuerzaVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strTimeOutWSRecoleccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strUrlWSDistribucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strUrlWSFuerzaVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strUrlWSRecoleccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strVersionApp)
        </td>
        
        <td style="white-space: nowrap">
            <a  href="@Url.Action("AddOrEdit", "Url", new { id = item.strId })" class="btn btn-success"><i class="fa fa-edit"></i> Editar</a>           
            <a onclick="Delete(@item.strId)" class="btn btn-success text-white" ><i class="fa fa-minus-square"></i> Borrar</a>

        </td>
    </tr>
}

</table>

@section Scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(strId) {
            alertify.confirm('Control de Urls para GreenMobile', '¿Desea borrar la Url?', function () {
                window.location.href = '@Url.Action("Delete", "Url")?id=' + strId;
            }, null);
        }
                

    </script>
    }